<div class="header">
  <h1>The Bridesmaid Shop</h1>
</div>

<body>

  <div class="container">

    <% all_dresses = Dress.read %>
    <% all_dresses.each do |dress| %>
    <% reviews = Review.where("dress_id" => dress.dress_id) %>

    <div class="row dress">

      <div class="col-md-4">
        <%= image_tag dress["dress_image"], "width" => "300" %>
      </div>

      <div class="col-md-4">
        <h3><%= link_to dress.dress_name, "/thebridesmaidshop/#{dress["dress_id"]}" %></h3>
        <br>$<%= dress.dress_price %>
        <br>Average Review: <%= reviews.average("review_rating") %>
      </div>

    </div>

    <% end %>

  </div>

</body>
