<div class="header">
  <h1>The Bridesmaid Shop</h1>
  <h5><%= link_to "Home", "/thebridesmaidshop" %></h5>
</div>

<body>

  <div class="container">

    <div class="row dress">
      <h2>Add a Review</h2>
    </div>

    <div class="row dress">

      <form role="form">

        <form action="/reviews/:id" method="post">

        <% review = Review.find_by("dress_id" => params["id"]) %>

          <div class="form-group">
            <label>Dress ID</label>
            <input type="integer" name="dress_id" value= <%=params["id"]%>>
          </div>

          <div class="form-group">
            <label>Star Rating? (On a scale of 1-5)</label>
            <input type="integer" name="review_rating">
          </div>

          <div class="form-group">
            <label>Review</label>
            <input type="text" name="review">
          </div>

          <input type="submit"> or <a href="/thebridesmaidshop">Cancel</a>

        </form>

      </form>

    </div>

  </div>

</body>
