<h3> The Bridesmaid Shop </h3>

<% all_dresses = Dress.read %>
<% all_dresses.each do |dress| %>
<% reviews = Reviews.where("dress_id" => dress.dress_id) %>

<p>
  <%= image_tag dress["dress_image"], "width" => "200" %> 
  <br> <%= link_to dress.dress_name, "/reviews/#{dress["dress_id"]}" %>
  <br> $<%= dress.dress_price %>
  <br> Average Review: <%= reviews.average("review_rating") %>
</p>

<% end %>